* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway Light";
  src: url(../fonts/Raleway-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Bold";
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url(../fonts/Pacifico.ttf);
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 600px) {
  .grid-container {
    margin: 0 auto;
    max-width: 600px;
    min-width: 360px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 251px 445px 157px;
    gap: 0 0;
    grid-template-areas:
      "head head head"
      ". inputs ."
      ". contacts .";

    .head {
      h1 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 50px;
      }

      p {
        font-size: 20px;
      }

      :nth-child(2) {
        margin-top: 0;
      }
    }
  }

  .contacts {
    color: rgb(255, 255, 255);

    :nth-child(1) {
      margin-top: 20px;
    }
  }

  .bottom {
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
    min-width: 360px;
    width: 100%;
  }
}

@media (min-width: 601px) {
  .grid-container {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 601px;
    width: 100%;
    display: grid;
    grid-template-columns: 11% 33% 11% 33% 11%;
    grid-template-rows: 250px 616px;
    gap: 0 0;
    grid-template-areas:
      "head head head head head"
      ". inputs . contacts .";

    .head {
      h2 {
        font-size: 90px;
        line-height: 65px;
        margin-top: 70px;
      }

      p {
        font-size: 20px;
      }

      :nth-child(2) {
        margin-top: 50px;
      }
    }

    .contacts {
      grid-area: contacts;
      color: rgb(38, 38, 38);

      h6 {
        font-size: 17px;
        margin-bottom: 4px;
      }

      p {
        font-size: 20px;
        margin-bottom: 9px;
      }

      :nth-child(1) {
        margin-top: 50px;
      }
    }
  }

  .bottom {
    max-width: 1500px;
    min-width: 601px;
    width: 100%;
  }

  .input:nth-child(1) {
    margin-top: 50px;
  }
}

.grid-container {
  background: url(../img/background.png) no-repeat;

  .head {
    grid-area: head;
    text-align: center;

    h2 {
      font-family: "Raleway Bold", sans-serif;
      color: #262626;
    }

    p {
      font-family: "Raleway Light", sans-serif;
      color: #262626;
    }
  }

  .inputs {
    grid-area: inputs;

    .input {
      width: calc(100% - 20px);
      height: 50px;
      border: none;
      background-color: rgb(125, 223, 223);
      opacity: 0.6;
      font-family: "Raleway Light", sans-serif;
      font-size: 15px;
      color: rgb(255, 255, 255);
      margin-bottom: 15px;
      padding-left: 20px;
    }

    .input:hover {
      background-color: rgb(0, 196, 196);
    }

    .input:nth-child(4) {
      height: 250px;
      margin-bottom: 0;
    }

    .input:nth-child(4)::-webkit-input-placeholder {
      transform: translate3d(0, -95px, 0);
    }

    .input:nth-child(4)::-moz-placeholder {
      transform: translate3d(0, -95px, 0);
    }

    .input:nth-child(4):-ms-input-placeholder {
      transform: translate3d(0, -95px, 0);
    }

    .input:nth-child(4)::-ms-input-placeholder {
      transform: translate3d(0, -95px, 0);
    }

    .input:nth-child(4)::placeholder {
      transform: translate3d(0, -95px, 0);
    }

    .input::-webkit-input-placeholder {
      font-family: "Raleway Light", sans-serif;
      font-size: 15px;
        color: rgb(255, 255, 255);
        
    }

    .input::-moz-placeholder {
      font-family: "Raleway Light", sans-serif;
      font-size: 15px;
        color: rgb(255, 255, 255);
        
    }

    .input:-ms-input-placeholder {
      font-family: "Raleway Light", sans-serif;
      font-size: 15px;
        color: rgb(255, 255, 255);
        
    }

    .input::-ms-input-placeholder {
      font-family: "Raleway Light", sans-serif;
      font-size: 15px;
        color: rgb(255, 255, 255);
        
    }

    .input::placeholder {
      font-family: "Raleway Light", sans-serif;
      font-size: 15px;
        color: rgb(255, 255, 255);
        
    }

    .input:focus {
      outline: none !important;
      border-left: 5px solid rgb(53, 91, 130);
      width: calc(100% - 25px);
    }
  }

  .contacts {
    grid-area: contacts;

    h6 {
      font-family: "Raleway Bold", sans-serif;
      text-transform: uppercase;
    }

    p {
      font-family: "Raleway Light", sans-serif;
    }
  }
}

.bottom {
  margin: 0 auto;
  min-height: 90px;
  display: flex;
  background-color: rgb(38, 38, 38);
  justify-content: space-around;
  align-items: center;

  :nth-child(2) {
    font-family: "Pacifico", sans-serif;
    font-size: 25px;
    line-height: 18px;
  }

  p {
    font-family: "Raleway Light", sans-serif;
    font-size: 16px;
    color: rgb(185, 185, 185);

    span {
      color: rgb(255, 43, 88);
      font-weight: 600;
    }
  }
}
