* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway Light";
  src: url(../fonts/Raleway-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Bold";
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url(../fonts/Pacifico.ttf);
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 600px) {
  .grid-container {
    margin: 0 auto;
    max-width: 600px;
    min-width: 360px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
    -ms-grid-rows: 251px 445px 157px;
        grid-template-rows: 251px 445px 157px;
    gap: 0 0;
        grid-template-areas: "head head head" ". inputs ." ". contacts .";
  }
  .grid-container .head h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .grid-container .head p {
    font-size: 20px;
  }
  .grid-container .head :nth-child(2) {
    margin-top: 0;
  }
  .contacts {
    color: white;
  }
  .contacts :nth-child(1) {
    margin-top: 20px;
  }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 600px;
    min-width: 360px;
    width: 100%;
  }
}

@media (min-width: 601px) {
  .grid-container {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 601px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11% 33% 11% 33% 11%;
        grid-template-columns: 11% 33% 11% 33% 11%;
    -ms-grid-rows: 250px 616px;
        grid-template-rows: 250px 616px;
    gap: 0 0;
        grid-template-areas: "head head head head head" ". inputs . contacts .";
  }
  .grid-container .head h1 {
    font-size: 90px;
    line-height: 65px;
    margin-top: 70px;
  }
  .grid-container .head p {
    font-size: 20px;
  }
  .grid-container .head :nth-child(2) {
    margin-top: 50px;
  }
  .grid-container .contacts {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: contacts;
    color: #262626;
  }
  .grid-container .contacts h6 {
    font-size: 17px;
    margin-bottom: 4px;
  }
  .grid-container .contacts p {
    font-size: 20px;
    margin-bottom: 9px;
  }
  .grid-container .contacts :nth-child(1) {
    margin-top: 50px;
  }
  .bottom {
    max-width: 1500px;
    min-width: 601px;
    width: 100%;
  }
  .input:nth-child(1) {
    margin-top: 50px;
  }
}

.grid-container {
  background: url(../img/background.png) no-repeat;
}

.grid-container .head {
  grid-area: head;
  text-align: center;
}

.grid-container .head h1 {
  font-family: "Raleway Bold", sans-serif;
  color: #262626;
}

.grid-container .head p {
  font-family: "Raleway Light", sans-serif;
  color: #262626;
}

.grid-container .inputs {
  grid-area: inputs;
}

.grid-container .inputs .input {
  width: calc(100% - 20px);
  height: 50px;
  border: none;
  background-color: #7ddfdf;
  opacity: 0.6;
  font-family: "Raleway Light", sans-serif;
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  padding-left: 20px;
}

.grid-container .inputs .input:hover {
  background-color: #00c4c4;
}

.grid-container .inputs .input:nth-child(4) {
  height: 250px;
  margin-bottom: 0;
}

.grid-container .inputs .input:nth-child(4)::-webkit-input-placeholder {
  -webkit-transform: translate3d(0, -95px, 0);
          transform: translate3d(0, -95px, 0);
}

.grid-container .inputs .input:nth-child(4):-ms-input-placeholder {
  transform: translate3d(0, -95px, 0);
}

.grid-container .inputs .input:nth-child(4)::-ms-input-placeholder {
  transform: translate3d(0, -95px, 0);
}

.grid-container .inputs .input:nth-child(4)::placeholder {
  -webkit-transform: translate3d(0, -95px, 0);
          transform: translate3d(0, -95px, 0);
}

.grid-container .inputs .input::-webkit-input-placeholder {
  font-family: "Raleway Light", sans-serif;
  font-size: 15px;
  color: white;
}

.grid-container .inputs .input:-ms-input-placeholder {
  font-family: "Raleway Light", sans-serif;
  font-size: 15px;
  color: white;
}

.grid-container .inputs .input::-ms-input-placeholder {
  font-family: "Raleway Light", sans-serif;
  font-size: 15px;
  color: white;
}

.grid-container .inputs .input::placeholder {
  font-family: "Raleway Light", sans-serif;
  font-size: 15px;
  color: white;
}

.grid-container .inputs .input:focus {
  outline: none !important;
  border-left: 5px solid #355b82;
  width: calc(100% - 25px);
}

.grid-container .contacts {
  grid-area: contacts;
}

.grid-container .contacts h6 {
  font-family: "Raleway Bold", sans-serif;
}

.grid-container .contacts p {
  font-family: "Raleway Light", sans-serif;
}

.bottom {
  margin: 0 auto;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262626;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom :nth-child(2) {
  font-family: "Pacifico", sans-serif;
  font-size: 25px;
  line-height: 18px;
}

.bottom p {
  font-family: "Raleway Light", sans-serif;
  font-size: 16px;
  color: #b9b9b9;
}

.bottom p span {
  color: #ff2b58;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */